<section id="requstBookPage" class="">
    <div class="container pd-v20">
        <h2>도서관소개</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
		<div class="mg-b50">
			<h3 class="color-5ecf5e">그루터기 작은 도서관</h3>
			<p class="font18 line-h2">
				가치관의 홍수 속에서 어떻게 하면 우리의 자녀들이 건강한 정체성과 분별력을 가지고
				누군가에게 선한 영향력을 끼치는 리더로 자랄 수 있을까..
				그루터기 작은 도서관은 그러한 고민으로부터 시작되었습니다. 
				그루터기 작은 도서관은 그루터기를 통해서 싹이 나고 줄기가 생기며 열매가 맺히고
				그 열매의 씨가 다시 새로운 나무를 자라게 하는 것처럼
				이 도서관을 통해서 다음세대와 지역사회가 새롭게 세워지는 것을 목표로 하고 있습니다.
				그러기 때문에 이 작은 도서관을 통해서 우리의 아이들이 올바른 가치관을 품고
				나라와 열방을 이끌 소중한 세대로 세워지기를 바랍니다. 
				또한 그루터기 작은 도서관은 지역사회의 문화 활동의 중심지가 되기를 원합니다.
				서로 소통하고 즐거움을 나눌 수 있는 곳이 되기를 원합니다.
				유익한 정보들과 좋은 만남이 있는 곳이 되기를 바랍니다.
			</p>
		</div>
		<div>
			<h3 class="color-5ecf5e">그루터기 발자취</h3>
			<div class="cf mg-h-10">
				<div class="float-l w50p pd-h10 media-mx-w992-w100p">
					<table class="media-mx-w480-w100p font16 media-mx-w480-font14 media-mx-w992-mg-b10"
					style="transform-origin:0 0;">
						<colgroup class="none media-mx-w480-block">
							<col width="100"/>
							<col width="*"/>
						</colgroup>
						<tbody>
							<tr class="border-t3-000 border-b-ccc">
								<td class="border-r-ccc pd15 bg-e8">2020년 <br class="none media-mx-w480-block">11월</td>
								<td class="pd15">하나님이 인도하신 <br class="none media-mx-w480-block">한걸음</td>
							</tr>
							<tr class="border-b-ccc">
								<td class="border-r-ccc pd15 bg-e8">2020년 <br class="none media-mx-w480-block">12월</td>
								<td class="pd15">2천여권의 도서와 책장 등 <br class="none media-mx-w480-block">환경 준비</td>
							</tr>
							<tr class="border-b-ccc">
								<td class="border-r-ccc pd15 bg-e8">2020년 <br class="none media-mx-w480-block">12월 26일</td>
								<td class="pd15">그루터기 작은 도서관 <br class="none media-mx-w480-block">설립 승인</td>
							</tr>
							<tr class="border-b-ccc">
								<td class="border-r-ccc pd15 bg-e8">2021년 <br class="none media-mx-w480-block">3월 15일</td>
								<td class="pd15">개관예배</td>
							</tr>
							<tr class="border-b-ccc">
								<td class="border-r-ccc pd15 bg-e8">2021년 <br class="none media-mx-w480-block">4월 1일 ~</td>
								<td class="pd15">예수촌교회 내부 개관</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="float-l w50p pd-h10 media-mx-w992-w100p">
					<img src="assets/img/libInfo-img-group.jpg" class="w100p">
				</div>
			</div>
		</div>
    </div>
</section>