<section id="requstBookPage" class="">
    <div class="container pd-b10 pd-t20">
        <h2>이용안내</h2>
        <div class="linear-right-5ecf5e-tr h3px mg-b10"></div>
        <table class="td-border-ccc th-border-ccc mg-b100 media-mx-w480-w100p scale1_5
		media-mx-w480-scale1 media-mx-w480-scale1 media-mx-w480-mg-b50"
		style="transform-origin:0 0;">
			<colgroup>
				<col width="100"/>
				<col width="*"/>
			</colgroup>
			<thead>
				<tr class="bg-cce4cc">
					<th colspan="2" class="txt-c pd5">도서관 이용시간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="txt-c pd5">월 ~ 금</td>
					<td class="pd5">오전 10:00 ~ 오후 5:00</td>
				</tr>
				<tr>
					<td class="txt-c pd5">정기 휴관일</td>
					<td class="pd5">매주 토 ~ 일, <br class="none media-mx-w420-block">국가 지정 공휴일</td>
				</tr>
				<tr>
					<td class="txt-c pd5">임시 휴관일</td>
					<td class="pd5">도서관이 지정한 날</td>
				</tr>
			</tbody>
		</table>
		<div class="mg-b50">
			<h3 class="color-5ecf5e">회원 가입 안내</h3>
			<p class="font18">
				관내 열람은 회원/비회원 구분없이 누구나 가능하며 도서 대출과 다양한 도서관 서비스를 이용하기 위해서는
				<br class="media-mx-w992-none">회원에 가입하여야 합니다.
				<span class="color-f00">(가입 신청서를 꼭 작성해주세요.)</span>
			</p>
			<ul class="pd-l16 font17">
				<li class="mg-b10">자격: 서울시 소재 주민 누구나</li>
				<li class="mg-b10">회비: 1만원(가입시 1회만)</li>
				<li class="mg-b10">권리: 도서 대출(2주 기간동안 5권 대출가능)</li>
			</ul>
		</div>
		<div class="mg-b50">
			<h3 class="color-5ecf5e">도서관 이용수칙</h3>
			<ul class="pd-l16 font17">
				<li class="mg-b10">흡연, 음주, 잡담 등 다른 사람에게 방해가 되는 행위는 하지 않습니다.(휴대전화는 진동으로)</li>
				<li class="mg-b10">음식물은 가급적 밖에서 드시고 입장해 주세요.</li>
				<li class="mg-b10">본인(성인)이 읽은 책은 책꽂이에 정리하되, 14세 미만의 어린이는 읽은 책을 임시 보관꽂이에 꽂아 주세요.</li>
				<li class="mg-b10">비치된 도서는 관내에서만 열람 가능하며 도서 대출을 하지 않는 경우에는 절대 괸외로 유출하지 않습니다.</li>
				<li class="mg-b10">도서 대출시 반납 기한을 꼭 지켜주세요.</li>
				<li class="mg-b10">개인정보 변경시 도서관으로 꼭 연락해주세요.</li>
				<li class="mg-b10">대출 후 연체된 날 수만큼 대출이 불가합니다.</li>
				<li class="mg-b10">도서관의 자료, 물품 및 기타 시설물은  파손하거나 훼손하지 않습니다.</li>
			</ul>
		</div>
		<!-- <div> -->
			<!-- <h3 class="color-5ecf5e">그루터기 작은 도서관에 도움을 주세요.</h3> -->
			<!-- <ul class="pd-l16 font16"> -->
				<!-- <li>좋은 책이나 물품을 기증해 주세요.</li> -->
				<!-- <li>도서관 문화 강좌 등에 자원봉사자가 되어주세요.(재능 기부자)</li> -->
			<!-- </ul> -->
		<!-- </div> -->
    </div>
</section>